.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

input{
  height: 27px;
  width: 250px;
}

.submit:hover{
  cursor:pointer;
}

.errors ul li {
  color:red;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
  margin-right: 45px;
}

.errors li{
  list-style: none;

}

.submit{
  background-color: #477987; /* Green */
// border: none;
color: white;
// padding: 5px 105px;
// width: 100px;
text-align: center;
text-decoration: none;
// display: inline-block;
font-size: 14px;
height: 27px;
width: 257px;
}
h2{
  padding-bottom: 40px;
  padding-top: 20px;
}
